<section class="mt-5 ">
    <div class="testymonials">
        <h2 class="text-white text-center">TESTYMONIALS</h2>
        <div class="row  m-0  justify-content-center align-items-center">
            <div class=" col-md-4 mt-5">
                <div class=" cardReview bg-white ">
                    <h6 class="">Kathryn Murphy</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled
                    </p>
                    <div class="icon">
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-5">
                <div class=" cardReview bg-white ">
                    <h6 class="">Kathryn Murphy</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled
                    </p>
                    <div class="icon ">
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="row m-0  justify-content-center align-items-center  ">
            <div class=" col-md-4 mt-5">
                <div class=" cardReview bg-white ">
                    <h6 class="">Kathryn Murphy</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled
                    </p>
                    <div class="icon">
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-5">
                <div class=" cardReview bg-white ">
                    <h6 class="">Kathryn Murphy</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled
                    </p>
                    <div class="icon ">
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                        <i class="fa-solid fa-star px-1"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center py-5">
            <button routerLink="/" class="btn btnDecoration ">CONTACT US</button>
        </div>
    </div>
</section>