<section>
    <div>
        <div class="row m-0 p-0">
            <div class="col-md-8 p-0">
                <div class="leftCaption ">
                    <div class="caption h-100  d-flex flex-column justify-content-center align-items-center ">
                        <div>
                            <h2 class="text-white">ABOUT <br> US</h2>
                            <P class="text-white fs-6 fw-lighter ">Lorem Ipsum is simply dummy text of the printing and
                                <br> typesetting industry. Lorem Ipsum
                                has been the<br> industry's standard dummy text ever since the 1500s,<br> when an
                                unknown
                                printer took a galley of type and <br> scrambled it to make a type specimen book. It
                                has<br>
                                survived not only five centuries, but also the leap into <br>electronic typesetting,
                                remaining essentially <br>unchanged. It was popularised in the 1960s with the<br>
                                release of
                                Letraset sheets containing Lorem Ipsum<br> passages, and more recently with desktop
                                publishing<br> software like Aldus PageMaker including versions of<br> Lorem Ipsum.
                            </P>
                            <button class="btn btnDecoration">CONTACT US</button>
                        </div>

                        <div class="chiefImg ">
                            <img src="../../../assets/images/chief.jpg" class="rounded-4 "  alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>