section {
    .partIcon {
        background-image: url('../../../assets/images/bg.png');

        i{
            color: #C98A40;
        }
    }
    .telPart{
        height:30vh;
        background-image: url('../../../assets/images/bgImageforsection.png');
        background-size: contain;
        background-position: 90% 90%;
    }
    .thirdPart{
        height:30vh;
        background-image: url('../../../assets/images/bg.png');
        background-size: 90%;
        background-position: 90% 90%;
    }
}