<section>
    <div>
        <div class="row m-0 p-0">
            <div class="col-md-3 p-0 m-0">
                <div class="partIcon d-flex flex-column justify-content-around align-items-end p-2">
                    <i class="bx bxl-vk fa-2x p-2"></i>
                    <i class="fa-brands fa-square-facebook  fa-2x p-2"></i>
                    <i class="fa-brands fa-instagram  fa-2x p-2"></i>
                    <i class="fa-brands fa-twitter fa-2x p-2"></i>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="telPart d-flex flex-column justify-content-end p-2">
                    <p class="text-white fw-bolder">Telephone: <span class="fw-light">+7 700 000 00 00</span></p>

                </div>
            </div>
            <div class="col-md-5 p-0">
                <div class="thirdPart"></div>
            </div>
        </div>
    </div>
</section>