<section>
    <div>
        <div class="row m-0 p-0">
            <div class="col-md-7 p-0">
                <div class="leftCaption">
                    <h4 class="text-center text-white">PEACHY PUP <br>BAKEY </h4>
                    <div class="caption h-100  d-flex flex-column justify-content-center align-items-center ">
                        <div>
                            <h1 class="text-white">TASTY PASTRIES</h1>
                            <p class="text-white veryical-align ">Lorem Ipsum is simply dummy text of the printing and
                                <br> typesetting
                                industry. Lorem Ipsum has been
                                the industry's <br> standard dummy text ever since the
                            </p>
                            <button class="btn btnDecoration">SEE MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 p-0 ">
                <div class="rightCaption  ">
                    <div class="breadContainer">
                        <img src="../../../assets/images/bread.png" alt="peachy-pup-bakey" class="w-90 bread">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
