<section>
    <div>
        <div class="forPosition position-relative">
            <div class="row m-0 p-0">
                <div class="col-md-5 p-0 m-0">
                    <div class="paragrahAboutWork d-flex justify-content-end p-5">
                        <p class="p-4">Lorem Ipsum is simply <br> dummy text of the printing<br> and typesetting
                            industry.
                            <br>Lorem Ipsum has been the <br>industry's standard dummy <br>text ever since the
                        </p>
                    </div>
                </div>
                <div class="col-md-7 p-0">
                    <div class="paragrahAboutHowWork">
                        <h2 class="text-white text-center">How WE <br> WORK</h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="aboutWork d-flex justify-content-evenly ">
                    <img src="../../../assets/images/1image.jpg" class="w-25 mx-5 rounded-4" alt="about meal 2"
                        srcset="">
                    <img src="../../../assets/images/image2.jpg" class="w-25 mx-5 rounded-4" alt="about meal 3"
                        srcset="">
                    <img src="../../../assets/images/image3.jpg" class="w-25 mx-5 rounded-4" alt="about meal 4"
                        srcset="">
                    <img src="../../../assets/images/image4.jpg" class="w-25 mx-5 rounded-4" alt="about meal 5"
                        srcset="">
                </div>
                <div class="m-0 p-0 position-relative text-center">
                    <button class="btn btnDecoration m-auto" type="button">CONTACT US</button>
                </div>
            </div>

        </div>
    </div>
</section>